.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  left: 15px;
  bottom: 15px;
}

.screen-header__config {
  position: relative;
}

.badge__config {
  width: 10px;
  height: 10px;
  position: absolute;
  left: -5px;
  top: -10px;
}
